@import "@theme/vars.scss";

button,
.button,
a {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 182px;
    padding: 0 32px;
    height: 42px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    background-color: $blue;
    color: #fff;
    fill: #fff;
    transition: color 0.35s ease, fill 0.35s ease, border-color 0.35s ease, background-color 0.35s ease, opacity 0.35s ease, box-shadow 0.35s ease;

    @media only screen and (max-width: $bp-lg) {
        height: 38px;
        padding: 0 24px;
    }

    @media only screen and (max-width: $bp-md) {
        height: 36px;
        padding: 0 18px;
        font-size: 11px;
    }

    &:hover{
        background-color: $blue-dark;
    }
    
    &__text{
        
    }

    &__icon{
        flex-shrink: 0;
        width: 20px;
        height: 20px;

        @media only screen and (max-width: $bp-md) {
            width: 16px;
            height: 16px;
        }
    }

    &__text + &__icon{
        margin-left: 10px;
    }

    &__icon + &__text{
        margin-left: 10px;
    }
    

    &[disabled]{
        pointer-events: none;
        opacity: 0.5;
    }


    &--white{
        color: #2A2B30;
        fill: #2A2B30;
        background-color: #fff;
        border-color: #6F6D7B;

        &:hover{
            background-color: #fff;
            border-color: $blue;
            color: $blue;
            fill: $blue;
        }
    }

    &--lg{
        height: 48px;
        font-size: 15px;
    }

    // &--border#{&}--white{
    //     border-color: #fff;
    //     fill: #fff;
    //     color: #fff;
    //     background-color: transparent;

    //     &:hover{
    //         border-color: #fff;
    //         background-color: #fff;
     
    //     }
    // }

    &--icon{
        padding: 0;
        width: 42px;
    }
}