@import "@theme/vars.scss";

.b-form{

    form{

    }

    &__row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -15px;

        &:last-child{
            margin-bottom: -30px;
        }

        &--center{
            justify-content: center;
        }
    }

    &__col{
        box-sizing: border-box;
        padding: 0 15px;
        margin-bottom: 30px;
        flex: 0 0 33.33%;
        min-width: 0;

        @media only screen and (max-width: $bp-lg) {
            padding: 0 10px;
            
        }

        @media only screen and (max-width: $bp-md) {
            flex-basis: 50%;
            margin-bottom: 20px;
        }

        @media only screen and (max-width: $bp-sm) {
            flex-basis: 100%;
            margin-bottom: 15px;
        }

        .button{
            margin-top: 10px;
            width: 100%;
        }

        .input{
            max-width: none;
        }

        .range{
            @media only screen and (max-width: $bp-sm) {
                padding-bottom: 5px;
            }
        }

        &--grow{
            flex-grow: 1;
        }
    }
}