@import "@theme/vars.scss";

.select{
    box-sizing: content-box;
    height: 48px;
    width: 100%;
    display: flex;
    position: relative;
    font-size: 18px;
    color: #595959;

    @media only screen and (max-width: $bp-lg) {
        font-size: 16px;
    }

    @media only screen and (max-width: $bp-md) {
        font-size: 14px;
    }

    @media only screen and (max-width: $bp-lg) {
        height: 42px;
    }

    @media only screen and (max-width: $bp-md) {
        height: 36px;
    }

    &.is-error {
        padding-bottom: 20px;
    }

    &.is-error &__error{
        opacity: 1;
        transform: translateY(-12px);
    }

    &.is-filled .select2-selection {
        background-color: #fff;
        border-color: $blue;
    }
    
    &:hover .select2-selection {
        border-color: $blue;
    }
            
    &.is-focus &__error{
        opacity: 0;
        transform: translateY(0px);
    }

    &.is-focus .select2-selection {
        color: #fff;
        border-color: #3D4050;
    }


    &.is-error .select2-selection {
        border-color: $red;
    }

    .select2{
        &-selection{
            position: relative;
            display: flex;  
            align-items: center;
            height: 100%;
            padding: 0 18px;
            border: 1px solid #fff;
            background-color: #DFDFE0;
            color: #000;
            border-radius: 5px !important;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: border-color 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-radius 0.25s ease;
                
            &:hover{
                border-color: $blue-dark;
            }

            &__arrow{
                top: 50% !important;
                width: 20px !important;
                height: 20px !important;
                flex: 0 0 auto;
                right: 10px !important;
                transform: translateY(-50%);

                b{
                    display: none;
                }

                &::after{
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    flex: 0 0 auto;
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.54467 8.14286C5.54467 8.07143 5.58038 7.99108 5.63395 7.9375L6.08038 7.49108C6.13395 7.4375 6.21431 7.40179 6.28574 7.40179C6.35717 7.40179 6.43753 7.4375 6.4911 7.49108L10 11L13.509 7.49108C13.5625 7.4375 13.6429 7.40179 13.7143 7.40179C13.7947 7.40179 13.8661 7.4375 13.9197 7.49108L14.3661 7.9375C14.4197 7.99108 14.4554 8.07143 14.4554 8.14286C14.4554 8.21429 14.4197 8.29465 14.3661 8.34822L10.2054 12.5089C10.1518 12.5625 10.0715 12.5982 10 12.5982C9.9286 12.5982 9.84824 12.5625 9.79467 12.5089L5.63395 8.34822C5.58038 8.29465 5.54467 8.21429 5.54467 8.14286Z' fill='%23000'/%3E%3C/svg%3E%0A");
                    transition: transform 0.35s ease;
                }
            }

            &__rendered{
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                box-sizing: border-box;
                padding: 0 40px 0 10px !important;
                color: inherit !important;
                font-size: 18px;
                
                @media only screen and (max-width: $bp-lg) {
                    font-size: 16px;
                }

                @media only screen and (max-width: $bp-md) {
                    font-size: 14px;
                }
            }
                
            &__choise{
                margin: 0;
            }
        }
    }
}



.select2{
    color: #595959;
    
    &-dropdown{
        border: 1px solid #3D4050 !important;
        border-radius: 0 0 3px 3px !important;
        overflow: hidden;
        background-color: #272733;
        color: #fff;
        font-size: 18px;
        line-height: 120%;
        box-shadow: none;

        @media only screen and (max-width: $bp-lg) {
            font-size: 16px;
        }
    }

    &-container{
        display: block;
        z-index: 2;
        font-size: 16px;
        font-weight: 300;
        line-height: 145%;
        color: inherit;
        animation: fadeIn 0.35s ease forwards;
        
        &--open{
            z-index: 51;
        }
    }

    &-container--open .select2-selection {
        background-color: #3A3D4C;
        border-color: #3D4050;
        border-radius: 3px 3px 0 0 !important;

        &__arrow::after{
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.54467 8.14286C5.54467 8.07143 5.58038 7.99108 5.63395 7.9375L6.08038 7.49108C6.13395 7.4375 6.21431 7.40179 6.28574 7.40179C6.35717 7.40179 6.43753 7.4375 6.4911 7.49108L10 11L13.509 7.49108C13.5625 7.4375 13.6429 7.40179 13.7143 7.40179C13.7947 7.40179 13.8661 7.4375 13.9197 7.49108L14.3661 7.9375C14.4197 7.99108 14.4554 8.07143 14.4554 8.14286C14.4554 8.21429 14.4197 8.29465 14.3661 8.34822L10.2054 12.5089C10.1518 12.5625 10.0715 12.5982 10 12.5982C9.9286 12.5982 9.84824 12.5625 9.79467 12.5089L5.63395 8.34822C5.58038 8.29465 5.54467 8.21429 5.54467 8.14286Z' fill='%23fff'/%3E%3C/svg%3E%0A");
            transform: rotate(-180deg);
        }
    }

    &-search{
        display: none !important;
        height: 64px;
        padding: 0;
        position: relative;

        &::after{
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.00006 11.0011C4.00006 7.13506 7.13407 4.00105 11.0001 4.00105C14.8661 4.00105 18.0001 7.13506 18.0001 11.0011C18.0001 12.887 17.2542 14.5987 16.0414 15.8574C16.0072 15.8838 15.9743 15.9126 15.943 15.9439C15.9116 15.9753 15.8828 16.0082 15.8565 16.0424C14.5978 17.2552 12.886 18.0011 11.0001 18.0011C7.13407 18.0011 4.00006 14.867 4.00006 11.0011ZM16.6177 18.033C15.0781 19.2646 13.1251 20.0011 11.0001 20.0011C6.0295 20.0011 2.00006 15.9716 2.00006 11.0011C2.00006 6.03049 6.0295 2.00105 11.0001 2.00105C15.9706 2.00105 20.0001 6.03049 20.0001 11.0011C20.0001 13.1261 19.2636 15.0791 18.032 16.6187L21.7072 20.2939C22.0977 20.6845 22.0977 21.3176 21.7072 21.7082C21.3166 22.0987 20.6835 22.0987 20.293 21.7082L16.6177 18.033Z' fill='%234BAAF3'/%3E%3C/svg%3E%0A");
        }

        &__field{
            height: 100%;
            padding: 0 56px 0 20px !important;
            border-right: none !important;
            border-left: none !important;
            border-top: none !important;
            border-bottom: 1px solid #E0E0E0 !important;
        }
    }

    &-results{
        &__group{
            color: $dark;
            font-weight: 700;
            padding: 5px 12px !important;
            margin-bottom: 5px;
        }

        &__options{
            box-sizing: border-box;
            max-height: 180px !important;
            scrollbar-width: thin;
            min-height: 34px;
            padding: 5px 0;
            line-height: 120%;
            
            &::-webkit-scrollbar {
                height: 7px;
                width: 7px;
            }

            &--nested{
                padding: 0;
            }
        }

        &__option{
            box-sizing: border-box;
            padding: 6px 10px !important;
            min-height: 30px;
            font-size: 18px;
            transition: background-color 0.25s ease, color 0.25s ease;
            
            @media only screen and (max-width: $bp-lg) {
                font-size: 16px;
                min-height: 28px;
            }

            @media only screen and (max-width: $bp-md) {
                font-size: 14px;
            }

            &:last-child{
                margin-bottom: 0;
            }

            &--highlighted{
                color: $blue !important;
                background-color: transparent !important;
            }
                        
            &--selected{
                color: #42A9ED !important;
                background-color: transparent !important;
            }
        }
    }

    &-selection{
        &__arrow{
            top: 50% !important;
            width: 24px !important;
            height: 24px !important;
            flex: 0 0 auto;
            right: 10px !important;
            transform: translateY(-50%);

            b{
                display: none;
            }

            &::after{
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                flex: 0 0 auto;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.54467 8.14286C5.54467 8.07143 5.58038 7.99108 5.63395 7.9375L6.08038 7.49108C6.13395 7.4375 6.21431 7.40179 6.28574 7.40179C6.35717 7.40179 6.43753 7.4375 6.4911 7.49108L10 11L13.509 7.49108C13.5625 7.4375 13.6429 7.40179 13.7143 7.40179C13.7947 7.40179 13.8661 7.4375 13.9197 7.49108L14.3661 7.9375C14.4197 7.99108 14.4554 8.07143 14.4554 8.14286C14.4554 8.21429 14.4197 8.29465 14.3661 8.34822L10.2054 12.5089C10.1518 12.5625 10.0715 12.5982 10 12.5982C9.9286 12.5982 9.84824 12.5625 9.79467 12.5089L5.63395 8.34822C5.58038 8.29465 5.54467 8.21429 5.54467 8.14286Z' fill='%23000'/%3E%3C/svg%3E%0A");
                transition: transform 0.35s ease, background-image 0.35s ease;
            }
        }

        &__rendered{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            box-sizing: border-box;
            padding: 0 48px 0 10px !important;
            color: inherit !important;
        }
            
        &__choise{
            margin: 0;
        }

        &__clear{
            display: none;
        }
    }
}