@mixin font($name, $weight, $fileName) {
    @font-face {
        font-family: $name;
        src: local("#{$name}"),
            url("@fonts/#{$name}/#{$fileName}.woff2") format("woff2"),
            url("@fonts/#{$name}/#{$fileName}.woff") format("woff"),
            url('@fonts/#{$name}/#{$fileName}.ttf') format('ttf');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}
  
// Lato

@include font("Lato", 400, "Lato-Regular");
@include font("Lato", 600, "Lato-Semibold");
@include font("Lato", 700, "Lato-Bold");
@include font("Lato", 800, "Lato-ExtraBold");