@import '@theme/vars.scss';

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

p{
    font-weight: 400;
}


.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 120%;
}

.h1{
    font-size: 48px;

    @media only screen and (max-width: $bp-lg) {
        font-size: 42px;
    }

    @media only screen and (max-width: $bp-md) {
        font-size: 36px;
    }
    
    @media only screen and (max-width: $bp-sm) {
        font-size: 28px;
    }
}

.h2{
    font-size: 35px;

    @media only screen and (max-width: $bp-lg) {
        font-size: 32px;
    }

    @media only screen and (max-width: $bp-md) {
        font-size: 28px;
    }

    @media only screen and (max-width: $bp-sm) {
        font-size: 24px;
    }
}

.h3{
    font-size: 44px;

    @media only screen and (max-width: $bp-lg) {
        font-size: 40px;
    }

    @media only screen and (max-width: $bp-md) {
        font-size: 35px;
    }
}

.h4{
    font-size: 35px;

    @media only screen and (max-width: $bp-lg) {
        font-size: 30px;
    }

    @media only screen and (max-width: $bp-md) {
        font-size: 28px;
    }
}

.h5{
    font-size: 28px;
    line-height: 130%;

    @media only screen and (max-width: $bp-lg) {
        font-size: 24px;
    }

    @media only screen and (max-width: $bp-md) {
        font-size: 22px;
    }
}

.h6{
    font-size: 23px;
    line-height: 130;
}

.text{
    font-size: 16px;
    line-height: 125%;

    &-xl{
        font-size: 20px;
        line-height: 125%;
    }

    &-lg{
        font-size: 18px;
        line-height: 125%;

        @media only screen and (max-width: $bp-lg) {
            font-size: 16px;
        }

        @media only screen and (max-width: $bp-md) {
            font-size: 14px;
        }
    }

    &-md{
        font-size: 13px;
        line-height: 125%;
    }

    &-sm{
        font-size: 12px;
        line-height: 125%;
    }

    //STYLE

    &-border{
        -webkit-text-stroke: 1px #8C8C8C;
    }

    //WEIGHT

    &-100{
        font-weight: 100;
    }

    &-200{
        font-weight: 200;
    }

    &-300{
        font-weight: 300;
    }

    &-400{
        font-weight: 400;
    }
    
    &-500{
        font-weight: 500;
    }

    &-600{
        font-weight: 600;
    }

    &-700{
        font-weight: 700;
    }

    &-800{
        font-weight: 800;
    }

    &-900{
        font-weight: 900;
    }

    //FAMILY

    &-template{
        font-family: 'Template';
    }

}