// COLORS 

$dark: #10101D;
$dark-gray: #292929;

$white: #fff;
$white-gray: #F6F6F6;

$blue: #3E9CDC;
$blue-dark: #43ABF0;

$red: #CF1322;



// DOCUMENT
$defaultFontFamily : 'Lato', sans-serif;
$defaultFontSize : 16px;
$defaultLineHeight: 145%;

// BREAKPOINTS

$bp-sm: 575px;
$bp-md: 833px;
$bp-lg: 991px;
$bp-xl: 1259px;
$bp-xxl: 1439px;