extends /layout/main.pug

block title
    title Главная

block body
    +header()

    main.main 
        section.s-intro 
            picture.s-intro__bg
                img(src="../../assets/media/intro.jpg", alt="")

            .container 
                .s-intro__inner 
                    h1.h1.s-intro__title #[span Lorem ipsum] dolor sit ametconsectetur #[span adipiscing] 
                    .s-intro__info 
                        p #[strong  At vero eos et accusamus et iusto odio dignissimos ducimus!]
                        ul
                            li 
                                p Totam rem aperiam eaque ipsa
                            li 
                                p Sit voluptatem accusantium doloremque laudantium
                            li 
                                p Sed ut perspiciatis, unde omnis iste natus error

                    .s-intro__actions 
                        a.button.s-intro__button(href="#")
                            span.button__text заказать
                        
                        a.button.button--white.s-intro__button(href="#")
                            span.button__text подробнее
                        
        section.s-order 
            picture.s-order__bg
                img(src="../../assets/media/order.png", alt="")

            .container 
                .s-order__header 
                    h2.h2.s-order__title Оформление #[span Заказа]
                    p.text-lg.s-order__subtitle Перед заполнением формы ознакомьтесь с нашей схемой работы!
                
                .s-order__inner 
                    .b-steps.s-order__steps 
                        .b-steps__item 
                            .b-steps__item-icon 
                                img(src="../../assets/media/steps/search.svg", alt="")
                            h3 Lorem ipsum dolorsit amet
                        
                        .b-steps__item 
                            .b-steps__item-icon 
                                img(src="../../assets/media/steps/percents.svg", alt="")
                            h3 Сonsecteturadipiscing elit
                        
                        .b-steps__item 
                            .b-steps__item-icon 
                                img(src="../../assets/media/steps/add.svg", alt="")
                            h3 Sed do eiusmod tempor
                        
                        .b-steps__item 
                            .b-steps__item-icon 
                                img(src="../../assets/media/steps/mail.svg", alt="")
                            h3 Esse cillum doloreeu fugiat
                        
                        .b-steps__item 
                            .b-steps__item-icon 
                                img(src="../../assets/media/steps/cash.svg", alt="")
                            h3 Excepteur sint occaecat cupidatat non proident
                        
                        
                    .b-form.s-order__form 
                        form(action="#") 
                            .b-form__row 
                                .b-form__col 
                                    +select({
                                        class: '', 
                                        style: '', 
                                        name: 'select-1', 
                                        placeholder: 'Выберите тип системы', 
                                        multiple: false, 
                                        disabled: false, 
                                        content: [
                                            {
                                                title: 'Sed ut perspiciatis',
                                                value: 'Sed ut perspiciatis',
                                                active: true,
                                                disabled: false,
                                            },
                                            {
                                                title: 'Nemo enim ipsam',
                                                value: 'Nemo enim ipsam',
                                                active: false,
                                                disabled: false,
                                            },
                                            {
                                                title: 'Et harum quidem',
                                                value: 'Et harum quidem',
                                                active: false,
                                                disabled: false,
                                            },
                                            {
                                                title: 'Temporibus autem',
                                                value: 'Temporibus autem',
                                                active: false,
                                                disabled: false,
                                            },
                                            {
                                                title: 'Itaque earum rerum',
                                                value: 'Itaque earum rerum',
                                                active: false,
                                                disabled: false,
                                            },

                                        ]
                                    })
                                    
                                .b-form__col 
                                    .input
                                        input.input__field.jsInput(type="text", name="Email", placeholder="Ваш e-mail")
                                        .input__error Обязательно для заполнения
                                
                                .b-form__col 
                                    .input
                                        input.input__field.jsInput(type="text", name="Name", placeholder="Ваше имя")
                                        .input__error Обязательно для заполнения

                                
                            .b-form__row 
                                .b-form__col.b-form__col--grow
                                    +range({
                                        class: '',
                                        style: '', 
                                        title: 'Sed ut perspiciatis, unde omnis iste natus',
                                        single: true,
                                        name: 'range',
                                        options: {
                                            start: 100,
                                            min: 0,
                                            max: 100,
                                            suffix: ' %',
                                        },
                                    })
                                
                                .b-form__col 
                                    +fileInput({
                                        class: '',
                                        style: '',
                                        title: 'Прикрепить файл',
                                        accept: '.pdf, .doc, .txt',
                                        disabled: false,
                                        multiple: true,
                                    })
                                    
                            .b-form__row.b-form__row--center
                                .b-form__col 
                                    button.button(type="submit")
                                        span.button__text Отправить

    +footer()