mixin range(options = {})
    -
        let active = options.active ? options.active : false;
        let single = options.single ? options.single : false;
        let rangeOptions = options.options ? options.options : `{
            "start": ${single ? '100' : '[0, 100]'}, 
            "min":0, 
            "max":100, 
            "suffix":" %"
        }`;
        let title = options.title ? options.title : '';
        let name = options.name ? options.name : 'range';
        let theme = options.theme ? options.theme : '';

        let inputClasses = 'input input--sm range__input';
            inputClasses += options.theme != '' ? (' input--'+theme) : '';

        let classes = 'range';
            classes += options.class ? (' ' + options.class) : '';
            classes += options.style != '' ? (' range--'+ options.style) : '';
            classes += options.theme != '' ? (' range--'+ options.theme) : '';


    div(class= classes, data-component="range", data-options=rangeOptions)

        .range__info 
            p.text-lg.range__title!= title
            span.range__value(data-range="value") 0%

        .range__slider-wrapper
            .range__slider(data-range="slider")

        .range__inputs
            
            div(class= inputClasses)
                input.input__field(type="text", name=(name+'-from'), data-range="input", data-type="from")
            if !options.single
                div(class= inputClasses)
                    input.input__field(type="text", name=(name+'-to'), data-range="input", data-type="to")

//- +range({
//-     class: '',
//-     style: '', 
//-     single: false,
//-     name: 'range',
//-     options: {
//-         start: [0, 100],
//-         min: 0,
//-         max: 100,
//-         suffix: ' %'
//-     },
//- })