mixin fileInput(options = {})
    -
        let title = options.title ? options.title : 'Прикрепить файл';
        let accept = options.accept ? options.accept : '.png, .jpg, .jpeg, .webp';
        let disabled = options.disabled ? options.disabled : false;
        let multiple = options.multiple ? options.multiple : false;
        
        let style = options.style ? options.style : '';
        let classes = 'input-file';
            classes += options.class ? (' ' + options.class) : '';
            classes += style != '' ? (' input-file--'+ style +'') : '';
        

    label(class= classes, data-component="input-file")
        input.input-file__input(type="file", name="file", data-input-file="input", disabled= disabled)
        
        .button.button--white.input-file__button(type="button", data-input-file="content")
            svg.icon.button__icon
                use(xlink:href="#file")
            span.button__text!= title