mixin footer(options = {})
    footer.footer#footer
        .container.footer__container 
            .footer__inner 
                .footer__policy © 2018 «LoremIpsum.net» Все права защищены.
                .footer__payments 
                    .footer__payment
                        svg.icon
                            use(xlink:href="#logo-qiwi")
                        span Qiwi wallet
                    
                    .footer__payment
                        svg.icon
                            use(xlink:href="#logo-yandex")
                        span Yandex Money
                    
                    .footer__payment
                        svg.icon
                            use(xlink:href="#logo-webmoney")
                        span Web Money
                    
                .footer__contacts 
                    a.footer__contact(href="mailto:info@ipsum228.com") 
                        svg.icon
                            use(xlink:href="#mail")
                        span info@ipsum228.com 
                    
                    a.footer__contact(href="#", target="_blank") 
                        svg.icon
                            use(xlink:href="#logo-vk")
                        span Мы вконтакте