mixin preloaderStyles()
    style(type="text/css").
        body:not(.is-unlock){
            overflow: hidden;
        }

        body.is-loaded .preloader {
            pointer-events: none;
            opacity: 0;
            transition-delay: 0.25s;
        }

        body.is-loaded .preloader strong{
            transform: scale(0.9);
            opacity: 0;
        }

        .preloader {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            flex-grow: 1;
            z-index: 20;
            background-color: #272733;
            transition: opacity 0.45s ease;
        }

        .preloader strong {
            font-family: 'Arial';
            color: #3E9CDC;
            font-size: 20px;
            transition: opacity 0.5s ease, transform 0.75s ease;
        }

        @media only screen and (max-width: 991px) {
            .prealoader strong{
                font-size: 18px;
            }
        }

        @media only screen and (max-width: 833px) {
            .prealoader strong{
                font-size: 16px;
            }
        }